body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.foto-item {
    width: 150px;
    height: 200px;
    float: left;
    margin-right: 10px;
    text-align: center;

}

.foto-item img {
    width: 140px;
}